<h1 class="title-page">Détails de la matière n°{{ matiere.id }}</h1>
<div class="block-container">
  <div class="detail-container">
    <div class="form-group">
      <label for="libelle"><i class="bi bi-person-video2"></i> Libelle :</label>
      <span id="libelle" class="form-control">
        {{ matiere.libelle }}
      </span>
    </div>
    <div class="form-group">
      <label for="duration">Durée :</label>
      <span id="duration" class="form-control">
        {{ matiere.duration }}
      </span>
    </div>
    <div class="form-group">
      <label for="objective">Objective :</label>
      <span id="objective" class="form-control">
        {{ matiere.objective }}
      </span>
    </div>
    <div class="form-group">
      <label for="prerequisite">Prérequis :</label>
      <span id="prerequisite" class="form-control">
        {{ matiere.prerequisite }}
      </span>
    </div>
    <div class="form-group">
      <label for="content">Contenu :</label>
      <span id="content" class="form-control">
        {{ matiere.content }}
      </span>
    </div>
    <div class="secondaires-container">
      <div style="min-width: 25vw">
        <h2 class="title-tableau">Formateur</h2>
        <div class="table table-bordered">
          <div class="tableau-header">
            <div class="header-item">NOM</div>
            <div class="header-item">PRÉNOM</div>
            <div class="header-item">ACTION</div>
          </div>
          <div class="tableau-body">
            @for(f of matiere.formateurs;track f.id) {
            <div class="tableau-row">
              <div class="row-item">{{ f.lastname }}</div>
              <div class="row-item">{{ f.firstname }}</div>
              <div class="row-item text-center">
                <button (click)="remove(f.id!)" class="btn btn-outline-danger">
                  <i class="bi bi-trash3-fill"></i>
                </button>
              </div>
            </div>
            }
          </div>
        </div>

        <div class="input-group container">
          <select id="formateur" [(ngModel)]="formateur" class="form-control">
            @for (f of formateurs; track f.id) {
            <option [ngValue]="f">
              {{ f.id }} {{ f.firstname }} {{ f.lastname }}
            </option>
            }
          </select>
          <div class="input-group-append">
            <button class="btn btn-outline-success" (click)="add()">
              <i class="bi bi-plus-circle-fill"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <a
      routerLink="/matiere"
      routerLinkActive="active"
      class="btn btn-outline-warning m-2"
      >Retour au Menu</a
    >
  </div>
</div>
