<h1>Liste des salles</h1>
@if(showMessage){
<div class="alert {{ style }}">
  {{ message }}
</div>
}
<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Numéro</th>
      <th>Nb place</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @for(s of salles;track s.id) {
    <tr>
      <td>{{ s.id }}</td>
      <td>{{ s.numero }}</td>
      <td>{{ s.nbPlace }}</td>
      <td class="text-center">
        <a
          routerLink="/salle/{{ s.id }}"
          routerLinkActive="active"
          class="btn btn-outline-primary"
          >Détail</a
        >
      </td>
      <td class="text-center">
        <a
          routerLink="/salle/edit/{{ s.id }}"
          routerLinkActive="active"
          class="btn btn-outline-warning"
          >Modifier</a
        >
      </td>
      <td class="text-center">
        <button (click)="delete(s.id!)" class="btn btn-outline-danger">
          Supprimer
        </button>
      </td>
    </tr>
    }
  </tbody>
</table>
<a
  routerLink="/salle/edit"
  routerLinkActive="active"
  class="btn btn-outline-success"
  >Ajouter</a
>
