<h1 class="title-page">Details du stagiaire n°{{ stagiaire.id }} </h1>
<div class="block-container">
  <div class="detail-container">
    <div class="form-group">
        <label for="firstName"><i class="bi bi-person-vcard"></i> Prenom : </label>
        <span id="firstName" class="form-control">
          {{stagiaire.firstName}}
        </span>
    </div>
    <div class="form-group">
      <label for="lastName"><i class="bi bi-person-vcard"></i> Nom : </label>
      <span id="lastName" class="form-control">
        {{stagiaire.lastName}}
      </span>
    </div>
    <div class="form-group">
      <label for="email"><i class="bi bi-envelope-at"></i> Email : </label>
      <span id="email" class="form-control">
        {{stagiaire.email}}
      </span>
    </div>
  </div>
  <div class="secondaires-container">
    <h2 class="title-tableau">Formation</h2>
    <div class="table table-bordered">
      <div class="tableau-header">
        <div class="header-item">Nom</div>
        <div class="header-item">Date de début</div>
      </div>
      <div class="tableau-body">
        <div class="tableau-row">
          <div class="row-item">{{stagiaire.formation?.nom}}</div>
          <div class="row-item">{{stagiaire.formation?.dateStart}}</div>
        </div>
      </div>
    </div>
    <h2 class="title-tableau">Ordinateur</h2>
    <div class="table table-bordered">
      <div class="tableau-header">
        <div class="header-item">Marque</div>
        <div class="header-item">OS</div>
      </div>
      <div class="tableau-body">
        <div class="tableau-row">
          <div class="row-item">{{stagiaire.ordinateur?.marque}}</div>
          <div class="row-item">{{stagiaire.ordinateur?.os}}</div>
        </div>        
      </div>
    </div>
  </div>
</div>
<a routerLink="/stagiaire" routerLinkActive="active" class="btn btn-outline-warning">Retour</a>
