<h1>liste des gestionnaires</h1>
<a routerLink="/gestionnaire/edit" routerLinkActive="active" class="btn btn-link"
  >nouveau gestionnaire</a
>
<table class="table">
  <tr>
    <th>ID</th>
    <th>PRÉNOM</th>
    <th>NOM</th>
    <th>E-MAIL</th>
    <th>LOGIN</th>
  </tr>
  @for(g of gestionnaires;track g.id) {
  <tr>
    <td>{{ g.id }}</td>
    <td>{{ g.lastName }}</td>
    <td>{{ g.firstName }}</td>
    <td>{{ g.email }}</td>
    <td>{{ g.login }}</td>
    <td>{{ g.password }}</td>
    <td>
      <a routerLink="/gestionnaire/details/{{g.id}}" routerLinkActive="active" class="btn btn-outline-primary">détails</a>
    </td>
    <td>
        <a
        routerLink="/gestionnaire/edit/{{ g.id }}"
        routerLinkActive="active"
        class="btn btn-outline-primary"
        >editer</a
        >
    </td>
    <td>
      <button (click)="delete(g.id!)" class="btn btn-outline-danger">
        supprimer
      </button>
    </td>
  </tr>
  }
</table>