<h1 class="title-page">Détails du formateur n°{{ formateur.id }}</h1>
<div class="block-container">
  <div class="detail-container">
    <div class="form-group">
      <label for="prenom"><i class="bi bi-person-video2"></i> Prénom :</label>
      <span id="prenom" class="form-control">
        {{ formateur.firstname }}
      </span>
    </div>
    <div class="form-group">
      <label for="nom"><i class="bi bi-person-vcard"></i> Nom :</label>
      <span id="nom" class="form-control">
        {{ formateur.lastname }}
      </span>
    </div>
    <div class="form-group">
      <label for="email"><i class="bi bi-envelope-at"></i> E-mail :</label>
      <span id="email" class="form-control">
        {{ formateur.email }}
      </span>
    </div>
  </div>
  <div class="secondaires-container">
    <div style="min-width: 20vw">
      <h2 class="title-tableau">Compétences</h2>
      <div class="table table-bordered">
        <div class="tableau-header">
          <div class="header-item">LIBELLÉ</div>
          <div class="header-item">DURÉE</div>
          <div class="header-item">ACTION</div>
        </div>
        <div class="tableau-body">
          @for(m of formateur.matieres;track m.id) {
          <div class="tableau-row">
            <div class="row-item">{{ m.libelle }}</div>
            <div class="row-item">{{ m.duration }}</div>
            <div class="row-item text-center">
              <button (click)="remove(m.id!)" class="btn btn-outline-danger">
                <i class="bi bi-trash3-fill"></i>
              </button>
            </div>
          </div>
          }
        </div>
      </div>
      <div class="input-group container">
        <select id="matiere" [(ngModel)]="matiere" class="form-control">
          @for (m of matieres; track m.id) {
          <option [ngValue]="m">{{ m.libelle }}</option>
          }
        </select>
        <div class="input-group-append">
          <button class="btn btn-outline-success" (click)="add()">
            <i class="bi bi-plus-circle-fill"></i>
          </button>
        </div>
      </div>
    </div>
    <div style="min-width: 20vw">
      <h2 class="title-tableau">Formation</h2>
      <div class="table table-bordered">
        <div class="tableau-header">
          <div class="header-item">LIBELLÉ</div>
          <div class="header-item">DÉBUT</div>
        </div>
        <div class="tableau-body">
          @for(f of formateur.formations;track f.id) {
          <div class="tableau-row">
            <div class="row-item">{{ f.nom }}</div>
            <div class="row-item">{{ f.dateStart }}</div>
          </div>
          }
        </div>
      </div>
    </div>
    <div style="min-width: 20vw">
      <h2 class="title-tableau">Indisponibilités</h2>
      <div class="table table-bordered">
        <div class="tableau-header">
          <div class="header-item">DEBUT</div>
          <div class="header-item">FIN</div>
        </div>
        <div class="tableau-body">
          @for(i of formateur.indisponibilites; track i.id) {
          <div class="tableau-row">
            <div class="row-item">{{ i.start }}</div>
            <div class="row-item">{{ i.end }}</div>
          </div>
          }
        </div>
      </div>
    </div>
  </div>
  <div class="btn-retour">
    <a
      routerLink="/formateur"
      routerLinkActive="active"
      class="btn btn-outline-warning m-2"
      >Retour au Menu</a
    >
  </div>
</div>
