<h1>edition ordinateur</h1>
<div>
  <div class="form-group">
    <label for="marque">Marque :</label>
    <input id="marque" [(ngModel)]="ordinateur.marque" class="form-control" />
  </div>
  <div class="form-group">
    <label for="os">OS :</label>
    <input id="os" [(ngModel)]="ordinateur.os" class="form-control" />
  </div>
  <div class="form-group">
    <label for="fonctionnel">Fonctionnel ? :</label>
    <input
      type="radio"
      id="true"
      [value]="true"
      [(ngModel)]="ordinateur.fonctionnel"
    />
    <label for="true">Oui</label>
    <input
      type="radio"
      id="false"
      [value]="false"
      [(ngModel)]="ordinateur.fonctionnel"
    />
    <label for="false">Non</label>
  </div>
  <div>
    <button class="btn btn-outline-info" (click)="save()">enregistrer</button>
    <a
      routerLink="/ordinateur"
      routerLinkActive="active"
      class="btn btn-outline-warning"
      >annuler</a
    >
  </div>
</div>
