<h1>Liste des ordinateurs</h1>

<section>
  <p>Nombre d'ordinateur : {{ ordinateurs.length }}</p>
  <p>|</p>
  <p>Ordinateur en reserve :</p>
</section>

@if(showMessage){
<div class="alert {{ style }}">
  {{ message }}
</div>
}
<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Marque</th>
      <th>OS</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @for(o of ordinateurs;track o.id) {
    <tr>
      <td>{{ o.id }}</td>
      <td>{{ o.marque }}</td>
      <td>{{ o.os }}</td>
      <td>{{ o.stagiaire?.firstName }} {{ o.stagiaire?.lastName }}</td>
      <td class="text-center">
        <a
          routerLink="/ordinateur/{{ o.id }}"
          routerLinkActive="active"
          class="btn btn-outline-primary"
          >Détail</a
        >
      </td>
      <td class="text-center">
        <a
          routerLink="/ordinateur/edit/{{ o.id }}"
          routerLinkActive="active"
          class="btn btn-outline-warning"
          >Modifier</a
        >
      </td>
      <td class="text-center">
        <button (click)="delete(o.id!)" class="btn btn-outline-danger">
          Supprimer
        </button>
      </td>
    </tr>
    }
  </tbody>
</table>
<a
  routerLink="/ordinateur/edit"
  routerLinkActive="active"
  class="btn btn-outline-primary"
  >Nouvel ordinateur</a
>
