<h1>Ajouter matiere au formateur n°{{formateur.id}}</h1>
<div>
    <div class="form-group">
        <label for="prenom">Prénom:</label>
        <input id="prenom" [(ngModel)]="formateur.firstname" class="form-control" disabled/>
    </div>
    <div class="form-group">
        <label for="nom">Nom:</label>
        <input id="nom" [(ngModel)]="formateur.lastname" class="form-control" disabled/>
    </div>
    <div class="form-group">
        <label for="email">Email:</label>
        <input id="email" type="email" [(ngModel)]="formateur.email" class="form-control" disabled/>
    </div>
    <div class="form-group">
        <label for="matiere">Matière:</label>
        <select id="matiere" [(ngModel)]="matiere" class="form-control">
            @for (m of matieres; track m.id) {
                <option [ngValue]="m">{{ m.libelle }}</option>
            }
        </select>
    </div>
    <div>
        <button class="btn btn-outline-info" (click)="add()">Ajouter</button>
        <a routerLink="/formateur" routerLinkActive="active" class="btn btn-outline-warning">annuler</a>
    </div>
</div>