<h1>Liste des techniciens</h1>

<!-- <div>
  prenom:<input [(ngModel)]="technicien.firstName" /> nom<input
    [(ngModel)]="technicien.lastName"
  />
  <button (click)="ok()">ok</button>
</div> -->

@if(showMessage){
<div class="alert {{ style }}">
  {{ message }}
</div>
}
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>PRÉNOM</th>
      <th>NOM</th>
      <th>E-MAIL</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @for (t of techniciens; track t.id) {
    <tr>
      <td>{{ t.id }}</td>
      <td>{{ t.firstName }}</td>
      <td>{{ t.lastName }}</td>
      <td>{{ t.email }}</td>
      <td>
        <a
          routerLink="/technicien/edit/{{ t.id }}"
          routerLinkActive="active"
          class="btn btn-outline-warning"
          >Modifier</a
        >
      </td>
      <td>
        <button (click)="delete(t.id!)" class="btn btn-outline-danger">
          Supprimer
        </button>
      </td>
    </tr>
    }
  </tbody>
</table>
<a
  routerLink="/technicien/edit"
  routerLinkActive="active"
  class="btn btn-outline-success"
  >Ajouter</a
>
