<h1>Édition de matière</h1>
<div>
    <div class="form-group">
        <label for="libelle">libelle:</label>
        <input id="libelle" [(ngModel)]="matiere.libelle" class="form-control" />
    </div>
    <div class="form-group">
        <label for="duration">durée:</label>
        <input id="duration" [(ngModel)]="matiere.duration" class="form-control" />
    </div>
    <div class="form-group">
        <label for="objective">objective:</label>
        <input id="objective" type="objective" [(ngModel)]="matiere.objective" class="form-control" />
    </div>
    <div class="form-group">
        <label for="prerequisite">prérequis:</label>
        <input id="prerequisite" type="text" [(ngModel)]="matiere.prerequisite" class="form-control" />
    </div>
    <div class="form-group">
        <label for="content">contenu:</label>
        <input id="content" type="content" [(ngModel)]="matiere.content" class="form-control" />
    </div>
    <div>
        <button class="btn btn-outline-info" (click)="save()">enregistrer</button>
        <a routerLink="/matiere" routerLinkActive="active" class="btn btn-outline-warning">annuler</a>
    </div>
</div>