<h1>Liste des Formations</h1>

@if(showMessage){
<div id="message" class="alert {{ style }}">
  {{ message }}
</div>
}

<table class="table">
  <thead>
    <tr>
      <th><i class="bi bi-list-ol"></i> ID</th>
      <th><i class="bi bi-card-text"></i> NOM</th>
      <th><i class="bi bi-calendar-date"></i> DATE DEBUT</th>
    </tr>
  </thead>
  <tbody>
    @for(f of formations;track f.id) {
    <tr>
      <td>{{ f.id }}</td>
      <td>{{ f.nom }}</td>
      <td>{{ f.dateStart }}</td>
      <td>{{ f.gestionnaire?.firstName }}</td>
      <td>{{ f.formateur?.firstname }}</td>
      <td>
        <a
          routerLink="/formation/details/{{ f.id }}"
          routerLinkActive="active"
          class="btn btn-outline-primary"
          >Détails</a
        >
      </td>
      <td>
        <a
          routerLink="/formation/edit/{{ f.id }}"
          routerLinkActive="active"
          class="btn btn-outline-warning"
          >Editer</a
        >
      </td>
      <td>
        <button (click)="delete(f.id!)" class="btn btn-outline-danger">
          Supprimer
        </button>
      </td>
    </tr>
    }
  </tbody>
</table>
<a
  routerLink="/formation/edit"
  routerLinkActive="active"
  class="btn btn-outline-success"
  >Ajouter</a
>
