<h1 class="title-page">Édition d'indisponibilité</h1>
<div class="detail-container">
  <div class="form-group">
    <label for="start">start:</label>
    <input
      id="start"
      type="date"
      [(ngModel)]="indisponibilite.start"
      class="form-control"
    />
  </div>
  <div class="form-group">
    <label for="end">end:</label>
    <input
      id="end"
      type="date"
      [(ngModel)]="indisponibilite.end"
      class="form-control"
    />
  </div>
  <div class="form-group">
    <label for="formateur">formateur:</label>
    <select
      id="formateur"
      [(ngModel)]="indisponibilite.formateur"
      class="form-control"
      [compareWith]="compareFn"
    >
      @for (f of formateursObservable|async; track f.id) {
      <option [ngValue]="f">{{ f.firstname }} {{ f.lastname }}</option>
      }
    </select>
  </div>
  <div class="button-container">
    <button class="btn btn-outline-success" (click)="save()">
      <i class="bi bi-floppy2"></i> Enregistrer
    </button>
    <a
      routerLink="/indisponibilite"
      routerLinkActive="active"
      class="btn btn-outline-danger mx-2"
      ><i class="bi bi-arrow-return-left"></i> Annuler</a
    >
  </div>
</div>
