<h1 class="title-page">Liste des videoprojecteurs</h1>

<section class="d-flex">
  <p>Nombre de videoprojecteur : {{ videoprojecteurs.length }}</p>
  <p class="mx-2">|</p>
  <p>Videoprojecteur en reserve : {{ nbVideoprojecteurDispo }}</p>
</section>

@if(showMessage){
<div class="alert {{ style }}">
  {{ message }}
</div>
}
<div class="tableau-container">
  <div class="tableau-header">
    <div class="header-item"><i class="bi bi-list-ol"></i> ID</div>
    <div class="header-item"><i class="bi bi-person-video2"></i> MARQUE</div>
    <div class="header-item">
      <i class="bi bi-person-video2"></i> FONCTIONNEL
    </div>
    <div class="header-item">
      <i class="bi bi-person-video2"></i> DISPONIBLE
    </div>
    <div class="header-item">ACTIONS</div>
  </div>

  @for(v of videoprojecteurs;track v.id) {
  <div class="tableau-row">
    <div class="row-item">{{ v.id }}</div>
    <div class="row-item">{{ v.marque }}</div>
    <div class="row-item">@if (v.fonctionnel) {Oui}@else {Non}</div>
    <div class="row-item">@if (v.fonctionnel && !v.salle) {Oui}@else {Non}</div>
    <div class="row-item actions">
      <a
        routerLink="/videoprojecteur/{{ v.id }}"
        routerLinkActive="active"
        class="btn btn-outline-primary btn-animated"
      >
        <span class="btn-text">Détails</span>
        <span class="btn-icon"><i class="bi bi-info-circle"></i></span>
      </a>
      <a
        routerLink="/videoprojecteur/edit/{{ v.id }}"
        routerLinkActive="active"
        class="btn btn-outline-warning btn-animated"
      >
        <span class="btn-text">Modifier</span>
        <span class="btn-icon"><i class="bi bi-pencil-square"></i></span>
      </a>
      <button
        (click)="delete(v.id!)"
        class="btn btn-outline-danger btn-animated"
      >
        <span class="btn-text">Supprimer</span>
        <span class="btn-icon"><i class="bi bi-trash3"></i></span>
      </button>
    </div>
  </div>
  }
</div>

<a
  routerLink="/videoprojecteur/edit"
  routerLinkActive="active"
  class="btn btn-outline-success btn-animated"
>
  <span class="btn-text">Ajouter</span>
  <span class="btn-icon"><i class="bi bi-person-add"></i></span>
</a>
