<h1>liste des videoprojecteur</h1>
<a
  routerLink="/videoprojecteur/edit"
  routerLinkActive="active"
  class="btn btn-link"
  >nouveau videoprojecteur</a
>
@if(showMessage){
<div class="alert {{ style }}">
  {{ message }}
</div>
}
<table class="table">
  <thead>
    <td>Id</td>
    <td>Marque</td>
    <td></td>
    <td></td>
  </thead>
  <tbody>
    @for(o of videoprojecteurs;track o.id) {
    <tr>
      <td>{{ o.id }}</td>
      <td>{{ o.marque }}</td>
      <td>{{ o.salle?.numero }} {{ o.salle?.numero }}</td>
      <td>
        <a
          routerLink="/videoprojecteur/edit/{{ o.id }}"
          routerLinkActive="active"
          class="btn btn-outline-primary"
          >editer</a
        >
      </td>
      <td>
        <button (click)="delete(o.id!)" class="btn btn-outline-danger">
          suprimer
        </button>
      </td>
    </tr>
    }
  </tbody>
</table>
