<h1>Liste des videoprojecteurs</h1>

<section class="d-flex">
  <p>Nombre de videoprojecteur : {{ videoprojecteurs.length }}</p>
  <p class="mx-2">|</p>
  <p>Videoprojecteur en reserve : {{ nbVideoprojecteurDispo }}</p>
</section>

@if(showMessage){
<div class="alert {{ style }}">
  {{ message }}
</div>
}
<table class="table overflow-auto">
  <thead>
    <tr>
      <th>Id</th>
      <th>Marque</th>
      <th>Fonctionnel</th>
      <th>Disponible</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @for(o of videoprojecteurs;track o.id) {
    <tr>
      <td>{{ o.id }}</td>
      <td>{{ o.marque }}</td>
      <td>@if (o.fonctionnel) {Oui}@else {Non}</td>
      <td>@if (o.fonctionnel && !o.salle) {Oui}@else {Non}</td>
      <td class="text-center">
        <a
          routerLink="/videoprojecteur/{{ o.id }}"
          routerLinkActive="active"
          class="btn btn-outline-primary"
          >Détail</a
        >
      </td>
      <td class="text-center">
        <a
          routerLink="/videoprojecteur/edit/{{ o.id }}"
          routerLinkActive="active"
          class="btn btn-outline-warning"
          >Modifier</a
        >
      </td>
      <td class="text-center">
        <button (click)="delete(o.id!)" class="btn btn-outline-danger">
          Supprimer
        </button>
      </td>
    </tr>
    }
  </tbody>
</table>
<a
  routerLink="/videoprojecteur/edit"
  routerLinkActive="active"
  class="btn btn-outline-primary"
  >Nouveau videoprojecteur</a
>
