<h1>Édition du videoprojecteur {{ videoprojecteur.id }}</h1>
<div>
  <div class="form-group">
    <label for="marque">Marque :</label>
    <input
      id="marque"
      [(ngModel)]="videoprojecteur.marque"
      class="form-control"
    />
  </div>
  <div class="form-group">
    <label for="fonctionnel">Fonctionnel ? :</label>
    <input
      class="mx-2"
      type="radio"
      id="true"
      [value]="true"
      [(ngModel)]="videoprojecteur.fonctionnel"
    />
    <label for="true">Oui</label>
    <input
      class="mx-2"
      type="radio"
      id="false"
      [value]="false"
      [(ngModel)]="videoprojecteur.fonctionnel"
    />
    <label for="false">Non</label>
  </div>
  <div>
    <button class="btn btn-outline-success" (click)="save()">
      Enregistrer
    </button>
    <a
      routerLink="/videoprojecteur"
      routerLinkActive="active"
      class="btn btn-outline-danger mx-2"
      >Annuler</a
    >
  </div>
</div>
