<h1>Liste des matieres par formation</h1>
@if(showMessage){
<div class="alert {{ style }}">
  {{ message }}
</div>
}
<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Date de début</th>
      <th>Date de fin</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @for(m of matiereParFormations;track m.id) {
    <tr>
      <td>{{ m.id }}</td>
      <td>{{ m.start }}</td>
      <td>{{ m.end }}</td>
      <td class="text-center">
        <a
          routerLink="/matiereparformation/{{ m.id }}"
          routerLinkActive="active"
          class="btn btn-outline-primary"
          >Détail</a
        >
      </td>
      <td class="text-center">
        <a
          routerLink="/matiereparformation/edit/{{ m.id }}"
          routerLinkActive="active"
          class="btn btn-outline-warning"
          >Modifier</a
        >
      </td>
      <td class="text-center">
        <button (click)="delete(m.id!)" class="btn btn-outline-danger">
          Supprimer
        </button>
      </td>
    </tr>
    }
  </tbody>
</table>
<a
  routerLink="/matiereparformation/edit"
  routerLinkActive="active"
  class="btn btn-link"
  >Nouvelle matiereParFormation</a
>
