<h1>Modifier stagiaire</h1>
<div>
  <div class="form-group">
    <label for="prenom">Prenom:</label>
    <input id="prenom" [(ngModel)]="stagiaire.firstName" class="form-control" />
  </div>
  <div class="form-group">
    <label for="nom">Nom:</label>
    <input id="nom" [(ngModel)]="stagiaire.lastName" class="form-control" />
  </div>
  <div class="form-group">
    <label for="email">Email:</label>
    <input
      id="email"
      type="email"
      [(ngModel)]="stagiaire.email"
      class="form-control"
    />
  </div>
    <div class="form-group">
      <label for="login">Login:</label>
      <input
        id="login"
        type="login"
        [(ngModel)]="stagiaire.login"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label for="password">Mot de passe:</label>
      <input
        id="password"
        type="password"
        [(ngModel)]="stagiaire.password"
        class="form-control"
      />
    </div>
  <div class="form-group">
    <label for="formation">formation:</label>
    <select
      id="formation"
      [(ngModel)]="stagiaire.formation"
      class="form-control"
      [compareWith]="compareFn"
    >
      @for(f of formationsObservable|async ;track f.id ){
      <option [ngValue]="f">{{ f.nom }}</option>
      }
    </select>
    <div class="form-group">
      <label for="ordinateur">ordinateur:</label>
      <select
        id="ordinateur"
        [(ngModel)]="stagiaire.ordinateur"
        class="form-control"
        [compareWith]="compareFn"
      >
        @for(o of ordinateursObservable|async ;track o.id ){
        <option [ngValue]="o">{{ o.id }}</option>
        }
      </select>
  </div>
  <div>
    <button class="btn btn-outline-info" (click)="save()">Enregistrer</button>
    <a
      routerLink="/stagiaire"
      routerLinkActive="active"
      class="btn btn-outline-warning"
      >Annuler</a
    >
  </div>
</div>