<h1 class="title-page">Edition d'un profil stagiaire</h1>
<div class="detail-container">
  <div class="form-group">
    <label for="prenom"><i class="bi bi-person-video2"></i> Prenom :</label>
    <input id="prenom" [(ngModel)]="stagiaire.firstName" class="form-control" />
  </div>
  <div class="form-group">
    <label for="nom"><i class="bi bi-person-vcard"></i> Nom:</label>
    <input id="nom" [(ngModel)]="stagiaire.lastName" class="form-control" />
  </div>
  <div class="form-group">
    <label for="email"><i class="bi bi-envelope-at"></i> Email:</label>
    <input
      id="email"
      type="email"
      [(ngModel)]="stagiaire.email"
      class="form-control"
    />
  </div>
  <div class="form-group">
    <label for="login"><i class="bi bi-person-badge"></i> Login:</label>
    <input
      id="login"
      type="login"
      [(ngModel)]="username"
      class="form-control"
    />
  </div>
  <div class="form-group">
    <label for="password"><i class="bi bi-lock"></i> Mot de passe:</label>
    <input
      id="password"
      type="password"
      [(ngModel)]="password"
      class="form-control"
    />
  </div>
  <div class="form-group">
    <label for="formation">Formation:</label>
    <select
      id="formation"
      [(ngModel)]="stagiaire.formation"
      class="form-control"
      [compareWith]="compareFn"
    >
      @for(f of formationsObservable|async ;track f.id ){
      <option [ngValue]="f">{{ f.nom }}</option>
      }
    </select>
  </div>
    <div class="form-group">
      <label for="ordinateur">Ordinateur:</label>
      <select
        id="ordinateur"
        [(ngModel)]="stagiaire.ordinateur"
        class="form-control"
        [compareWith]="compareOr"
      >
        <option [ngValue]="ordinateurVide">Aucun</option>
        @for(o of availableOrdinateurs$ | async ;track o.id ){
        <option [ngValue]="o">{{ o.id }}</option>
        }
      </select>
    </div>
    <div class="form-group">
      <div class="button-container">
            <button class="btn btn-outline-success" (click)="save()">
              <i class="bi bi-floppy2"></i> Enregistrer
            </button>
            <a
              routerLink="/stagiaire"
              routerLinkActive="active"
              class="btn btn-outline-danger mx-2"
              ><i class="bi bi-arrow-return-left"></i> Annuler</a
            >
      </div>
    </div>
    
  
</div>
