<nav class="navbar">
  <ul>
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/formateur"
        routerLinkActive="active"
        class="btn btn-link"
        >Formateur</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/formation"
        routerLinkActive="active"
        class="btn btn-link"
        >Formation</a
      >
    </li>
    <li class="nav-item">
      <a routerLink="/matiere" routerLinkActive="active" class="btn btn-link"
        >Matiere</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/matiereparformation"
        routerLinkActive="active"
        class="btn btn-link"
        >Matiere par formation</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/stagiaire"
        routerLinkActive="active"
        class="btn btn-link"
        >Stagiaire</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/technicien"
        routerLinkActive="active"
        class="btn btn-link"
        >Technicien</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/gestionnaire"
        routerLinkActive="active"
        class="btn btn-link"
        >Gestionnaire</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/ordinateur"
        routerLinkActive="active"
        class="btn btn-link"
        >Ordinateur</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/salle"
        routerLinkActive="active"
        class="btn btn-link"
        >Salle</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/videoprojecteur"
        routerLinkActive="active"
        class="btn btn-link"
        >Videoprojecteur</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/indisponibilite"
        routerLinkActive="active"
        class="btn btn-link"
        >Indisponibilite</a
      >
    </li>
  </ul>
</nav>
