<h1>Détails du Gestionnaire n°{{ gestionnaire.id }}</h1>
<div class="container">
    <div>
        <div class="form-group">
            <label for="prenom">Prénom:</label>
            <input id="prenom" [(ngModel)]="gestionnaire.firstName" class="form-control" disabled />
        </div>
        <div class="form-group">
            <label for="nom">Nom:</label>
            <input id="nom" [(ngModel)]="gestionnaire.lastName" class="form-control" disabled />
        </div>
        <div class="form-group">
            <label for="email">E-mail:</label>
            <input id="email" type="email" [(ngModel)]="gestionnaire.email" class="form-control" disabled />
        </div>
    </div>
    <div>
        <h2>Formations</h2>
        <table class="table">
            <tr>
                <th>NOM</th>
                <th>DATE DEBUT</th>
            </tr>
            @for(f of gestionnaire.formations; track f.id) {
                <tr>
                    <td>{{ f.nom }}</td>
                    <td>{{ f.dateStart }}</td>
                </tr>
            }
        </table>
    </div>
</div>
<a routerLink="/gestionnaire" routerLinkActive="active" class="btn btn-outline-warning">Retour</a>
    